.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.grid {
    height: auto;
    margin: 20px 30px;
    width: 500px;
  }

.row {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;

}
.ocean {
    background: #2980b9;
    margin: 1px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height:auto;
}
.ocean:before {
    content:'';
    float:left;
    padding-top:100%;
}

.active {
    background-color: #e67e22;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.carrier {
    background-color: red;
}

.battleship {
    background-color: green;
}

.cruiser {
    background-color: yellow;
}

.submarine {
    background-color: purple;
}

.destroyer {
    background-color: silver;
}

.miss {
    background-color: black;
}
